(import '%s') {
  prometheusAlerts+::
    local mapRuleGroups(f) = {
      groups: [
        group {
          rules: [
            f(rule)
            for rule in super.rules
          ],
        }
        for group in super.groups
      ],
    };
    local removeRunbookURL(rule) = rule {
      [if 'alert' in rule then 'runbookOutput']+:
        if 'runbook' in rule then super.runbook,
    };

    mapRuleGroups(removeRunbookURL),
}.prometheusAlerts
